.contact-container {
  background-color: #ecf2ff;
}

.contact-title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: right;
}
